<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.openhealthtools.mdht.uml.common.notation">
      <provider profileURI="http://www.eclipse.org/mdht/schema/profile/fhir"
      		 class="org.eclipse.mdht.uml.fhir.ui.notation.FHIRAnnotationProvider"/>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.mdht.uml.fhir.ui.internal.expressions.ECoreTester"
            id="org.eclipse.mdht.uml.fhir.ui.ecorePropertyTester"
            namespace="org.eclipse.mdht.uml.fhir.ui.ecore"
            properties="eclass, umlType, umlStrictType, hasProfile, hasStereotype"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   
   <!--
      Sub-menu definitions
   -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=group.new">
         <menu
               id="org.eclipse.mdht.uml.fhir.ui.menu.addFHIR"
               label="%addFHIR.label">
            <separator name="property" visible="true"/>
            <separator name="classifier" visible="true"/>
            <separator name="package" visible="true"/>
            <separator name="constraint" visible="true"/>
            <separator name="comment" visible="true"/>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.port">
         <menu
               id="org.eclipse.mdht.uml.fhir.ui.menu.portFHIR"
               label="%portFHIR.label">
            <separator name="import" visible="false"/>
            <separator name="export" visible="false"/>
         </menu>
      </menuContribution>
   </extension>
   
   <!--
      Command definitions
   -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"
            name="FHIR Model Editing"
            description="Commands for editing FHIR profile definitions in UML models."/>
            
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addImplementationGuide"
            name="%addFHIR.ImplementationGuide.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addPackage"
            name="%addFHIR.Package.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
            
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addStructureDefinition"
            name="%addFHIR.StructureDefinition.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit">
         <commandParameter
               id="org.eclipse.mdht.uml.fhir.ui.commandParameter.hasBaseTypes"
               name="hasBaseTypes"
               optional="true"/>
         <commandParameter
               id="org.eclipse.mdht.uml.fhir.ui.commandParameter.notBaseTypes"
               name="notBaseTypes"
               optional="true"/>
      </command>
      <!--
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addStructureDefinitionDataType"
            name="%addFHIR.StructureDefinition.datatype.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addExtensionDefinition"
            name="%addFHIR.Extension.definition.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      -->
      
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addValueSet"
            name="%addFHIR.ValueSet.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
            
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addElementDefinition"
            name="%addFHIR.ElementDefinition.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addExtensionUse"
            name="%addFHIR.Extension.use.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addSlice"
            name="%addFHIR.Slice.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
            
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addConstraint"
            name="%addFHIR.Constraint.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
            
      <command
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"
            id="org.eclipse.mdht.uml.fhir.ui.commands.addComment"
            name="%addFHIR.Comment.label">
         <commandParameter
               id="org.eclipse.mdht.uml.fhir.ui.commandParameter.commentType"
               name="commentType"
               optional="true">
         </commandParameter>
      </command>
      <!--
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addDescriptionComment"
            name="%addFHIR.Comment.description.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addShortDescriptionComment"
            name="%addFHIR.Comment.short.description.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.addRequirementsComment"
            name="%addFHIR.Comment.requirements.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      -->
            
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.importDefinitions"
            name="%importFHIR.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
      <command
            id="org.eclipse.mdht.uml.fhir.ui.commands.exportDefinitions"
            name="%exportFHIR.label"
            categoryId="org.eclipse.mdht.uml.fhir.ui.commands.category.edit"/>
   </extension>
   
   <!--
      Command menu contributions
   -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.mdht.uml.fhir.ui.menu.addFHIR?endof=package">
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addImplementationGuide"
               label="%addFHIR.ImplementationGuide.label"
               icon="icons/uml-type/Package.gif">
            <visibleWhen checkEnabled="true"/>
         </command>
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addPackage"
               label="%addFHIR.Package.label"
               icon="icons/uml-type/Package.gif">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
   </extension>
      
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.mdht.uml.fhir.ui.menu.addFHIR?endof=classifier">
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addStructureDefinition"
               label="%addFHIR.StructureDefinition.resource.label"
               icon="icons/fhir-type/icon_profile.png">
            <visibleWhen checkEnabled="true"/>
            <parameter
                  name="org.eclipse.mdht.uml.fhir.ui.commandParameter.hasBaseTypes"
                  value="DomainResource"/>
         </command>
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addStructureDefinition"
               label="%addFHIR.StructureDefinition.datatype.label"
               icon="icons/fhir-type/icon_profile.png">
            <visibleWhen checkEnabled="true"/>
            <parameter
                  name="org.eclipse.mdht.uml.fhir.ui.commandParameter.hasBaseTypes"
                  value="DataType"/>
            <parameter
                  name="org.eclipse.mdht.uml.fhir.ui.commandParameter.notBaseTypes"
                  value="Extension | BackboneElement"/>
         </command>
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addStructureDefinition"
               label="%addFHIR.Extension.definition.label"
               icon="icons/fhir-type/icon_extension_complex.png">
            <visibleWhen checkEnabled="true"/>
            <parameter
                  name="org.eclipse.mdht.uml.fhir.ui.commandParameter.hasBaseTypes"
                  value="Extension"/>
         </command>
         
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addValueSet"
               label="%addFHIR.ValueSet.label"
               icon="icons/uml-type/Enumeration.gif">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.mdht.uml.fhir.ui.menu.addFHIR?endof=property">
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addElementDefinition"
               label="%addFHIR.ElementDefinition.label"
               icon="icons/fhir-type/icon_element.gif">
            <visibleWhen checkEnabled="true"/>
         </command>
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addExtensionUse"
               label="%addFHIR.Extension.use.label"
               icon="icons/fhir-type/icon_extension.png">
            <visibleWhen checkEnabled="true"/>
         </command>
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addSlice"
               label="%addFHIR.Slice.label"
               icon="icons/fhir-type/icon_slice.png">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.mdht.uml.fhir.ui.menu.addFHIR?endof=constraint">
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addConstraint"
               label="%addFHIR.Constraint.label"
               icon="icons/uml-type/Constraint.gif">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.mdht.uml.fhir.ui.menu.addFHIR?endof=comment">
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addComment"
               label="%addFHIR.Comment.definition.label"
               icon="icons/uml-type/Comment.gif">
            <visibleWhen checkEnabled="true"/>
            <parameter
                  name="org.eclipse.mdht.uml.fhir.ui.commandParameter.commentType"
                  value="Definition">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addComment"
               label="%addFHIR.Comment.description.label"
               icon="icons/uml-type/Comment.gif">
            <visibleWhen checkEnabled="true"/>
            <parameter
                  name="org.eclipse.mdht.uml.fhir.ui.commandParameter.commentType"
                  value="Description">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addComment"
               label="%addFHIR.Comment.short.description.label"
               icon="icons/uml-type/Comment.gif">
            <visibleWhen checkEnabled="true"/>
            <parameter
                  name="org.eclipse.mdht.uml.fhir.ui.commandParameter.commentType"
                  value="ShortDescription">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.addComment"
               label="%addFHIR.Comment.requirements.label"
               icon="icons/uml-type/Comment.gif">
            <visibleWhen checkEnabled="true"/>
            <parameter
                  name="org.eclipse.mdht.uml.fhir.ui.commandParameter.commentType"
                  value="Requirements">
            </parameter>
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.mdht.uml.fhir.ui.menu.portFHIR?endof=import">
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.importDefinitions"
               label="%importFHIR.label"
               icon="icons/fhir-type/icon_resource.png">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.mdht.uml.fhir.ui.menu.portFHIR?endof=export">
         <command
               commandId="org.eclipse.mdht.uml.fhir.ui.commands.exportDefinitions"
               label="%exportFHIR.label"
               icon="icons/fhir-type/icon_resource.png">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
   </extension>
   
   <!--
      Handlers
   -->
   <extension
         point="org.eclipse.ui.handlers">
      <!-- UML Package commands -->
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addImplementationGuide"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.NotImplementedHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Package"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasProfile" 
                           value="http://www.eclipse.org/mdht/schema/profile/fhir"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addPackage"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.NotImplementedHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Package"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasProfile" 
                           value="http://www.eclipse.org/mdht/schema/profile/fhir"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addStructureDefinition"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.AddStructureDefinitionHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Package"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasProfile" 
                           value="http://www.eclipse.org/mdht/schema/profile/fhir"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <!--
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addStructureDefinitionDataType"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.AddStructureDefinitionHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Package"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasProfile" 
                           value="http://www.eclipse.org/mdht/schema/profile/fhir"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addExtensionDefinition"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.NotImplementedHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Package"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasProfile" 
                           value="http://www.eclipse.org/mdht/schema/profile/fhir"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      -->
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addValueSet"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.NotImplementedHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Package"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasProfile" 
                           value="http://www.eclipse.org/mdht/schema/profile/fhir"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      
      <!-- UML Class commands -->
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addElementDefinition"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.NotImplementedHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Class"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::StructureDefinition"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addExtensionUse"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.NotImplementedHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Class"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::StructureDefinition"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addSlice"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.NotImplementedHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Class"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::StructureDefinition"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addConstraint"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.NotImplementedHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <or>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Class"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::StructureDefinition"/>
                  </and>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Property"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::ElementDefinition"/>
                  </and>
                  </or>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.addComment"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.AddCommentHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <or>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Class"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::StructureDefinition"/>
                  </and>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Property"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::ElementDefinition"/>
                  </and>
                  </or>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      
      <!-- Import/Export handlers -->
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.importDefinitions"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.ImportFhirHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Package"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasProfile" 
                           value="http://www.eclipse.org/mdht/schema/profile/fhir"/>
                  </and>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            commandId="org.eclipse.mdht.uml.fhir.ui.commands.exportDefinitions"
            class="org.eclipse.mdht.uml.fhir.ui.handlers.ExportFhirHandler">
         <activeWhen>
            <and>
               <count value="1"/>
               <iterate>
                  <or>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Class"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::StructureDefinition"/>
                  </and>
                  <and>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.eclass" value="uml:Enumeration"/>
                     <test property="org.eclipse.mdht.uml.fhir.ui.ecore.hasStereotype" 
                           value="FHIR::ValueSet"/>
                  </and>
                  </or>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
   
</plugin>
